body{
	background-color:#CCF;
	
 
   
  
  
  
  
  
  background: -webkit-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* W3C */
            
}

#head {
	width: 900px;
	height: auto;
	 
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	margin-top: 0px;
	
	 
	 
	/* [disabled]text-align: end; */
	 
}

#footer{
	height:50px;
	background-color:#693;
	margin-top:10px;
	 
	margin-top:50px auto;
	border-radius:3px;
	 
	
}
#content{
	height: 500px;
	 
	margin-bottom: 0px;
	color: #110000;
	letter-spacing: normal;
	word-spacing: normal;
}
.txtuserreg {
	font-size: 30px;
	font-weight: bold;
	height:25px;
	 
	 
}
#c1{
	background-color:#CCC;
	margin-top:30px  ;
	}
	#c2{
	 
	background-color: #CC9;
	height: auto;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
	overflow: auto;
	color: #000000;
	}
.tbl {
	text-align: center;
}


img.a:hover{
	color:#630;}
	
	
header{
		width:900px;
		height:200px;
		background-color:#999;
	margin-top:10px auto ;
	 
	 
		
	}
		div.q{
			width:225px;
			height:200px;
			float:left;
			 
			-webkit-transition: height .4s;
			
		}
		
		div#uno{
			
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
        
			
			
		}
		div#dos{
			
  background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #517fa4 10%, #243949 90%); /* W3C */
        
		}
		
		div#tres{
			background-color:rgb(22,145,190);
			
			
		}
		
		div#custro{
			background-color:rgb(153,153,204);
		}
		
img.icon{
	height:60px;
	width:60px;
	display:block;
	margin:15px auto;
	background-color:rgb(255,255,255,.7);
	padding:14px;
	-webkit-border-radius:40%;
	 
	 
	
	
	
}

p.text{
	
font-size:1.12em;
color: #010101;	
text-align:center;
padding-top:10px;
opacity:.5;
-webkit-transition:padding-top .4s;


	
	
}
p.text a{
	
	
	text-decoration:none;
	color:#EEE;
}
div.q:hover{
	height:210px;
	
	
}
div.q:hover p.text{
	
	padding-top:20px;
	
}
div.q:hover img.icon{
 
}
div#below{
	margin-top: 20px;
}
img.n{
	height:60px;
	width:60px;
	display:block;
	margin:  15px auto;
	background-color:rgb(255,255,255,.7);
	padding:14px;
	-webkit-border-radius:40%;
	
}
#dash{
	height:auto;
}
header1{
		width:900px;
		height:200px;
		background-color:#999;
	margin-top:20px auto ;
	   
	 
		
	}
		div.b{
			width:225px;
			height:200px;
			float:left;
			 
			 
		}
		
		div#c{
			
 

  background: -webkit-linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #70e1f5 10%, #ffd194 90%); /* W3C */
        
			
			
		}
		div#d{
			background-color:rgb(153,102,153) ;
		}
		
		div#e{
			background-color:rgb(65,73,29);
			
			
		}
		
		div#f{
			background-color:rgb(153,153,102);
		}
p.headtext{
	text-align:center;
	font-size:18px;
}.headtext {
	font-weight: bold;
}
#head #logo .headtext {
	font-size: 18px;
}

 
 
.gym {
	font-size: 36px;
	font-weight: bold;
	margin-top:30px;
 
	 
	 
	 
}

   .new{
	background-color: #996;
	color: #000000;
}
	   
	   #me{
		   
		  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
        
		   
		   
	   }
	   .kk{
		   text-decoration:none;
	   }

.az{
	background-color:#CC9;
}
.activea{}
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:5px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

	  
	 
	 .abc {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:7px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.abc:hover {
	background-color:#408c99;
}
.abc:active {
	position:relative;
	top:1px;
}

	
	
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  
 .my {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.my :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.my :active {
	position:relative;
	top:1px;
}

